<nav>
    <a href='/breweries'>Breweries</a>
    <a href='/passport/<%=@user.id%>'>My Passport</a>
    <a href='/passport/<%=@user.id%>/edit'>Edit Passport</a>
    <a href='/logout'>Log Out</a>
</nav>

<main>
    <section class='list'>
        <h2>Welcome, <%=@user.username%>!</h2>

        <h3>Select all of the breweries you have already visited. Then, click "Submit" to create your passport!<br>If you haven't visited any breweries yet, just click "Submit" at the bottom of the page.</h3><br>
        
        <form action='/create-passport' method='post'>
            <% Brewery.all.each do |brewery| %>
                <label for='<%=brewery.name%>'>
                <input type='checkbox' id='<%=brewery.name%>' name='visit[brewery_ids][]' value='<%=brewery.id%>'>
                <%=brewery.name%></label><br>
            <% end %>
            <br>
            <input class='button' type='submit' value='Submit'>
        </form>
    </section>
</main>