<nav>
    <a href='/breweries'>Breweries</a>
    <a href='/passport/<%=@user.id%>'>My Passport</a>
    <a href='/logout'>Log Out</a>
</nav>

<main class='brewery'>
    <section class='brewery-index'>
        <h2><%= @brewery.name %></h2>

        <p><%= @brewery.description %></p><br>

        <% if @user.breweries.find_by(id: @brewery.id) %>

            <% visit = Visit.find_by(user_id: @user.id, brewery_id: @brewery.id) %>
            <% if visit.rating %>
                <div class='rating'>Your Rating: <%=visit.rating%> stars</div><br>
            <% else %>
                <div class='rating'>You haven't rated this brewery yet. What did you think?<br>
                    <form action='/breweries/<%=@brewery.id%>' method='post'>
                        <input type='hidden' id='hidden' name='_method' value='patch'>
                        <label for='5 stars'><input type='radio' id='5 stars' name='rating' value='5'>5 stars</label><br>
                        <label for='4 stars'><input type='radio' id='4 stars' name='rating' value='4'>4 stars</label><br>
                        <label for='3 stars'><input type='radio' id='3 stars' name='rating' value='3'>3 stars</label><br>
                        <label for='2 stars'><input type='radio' id='2 stars' name='rating' value='2'>2 stars</label><br>
                        <label for='1 stars'><input type='radio' id='1 stars' name='rating' value='1'>1 stars</label><br>
                        <input class='button' type='submit' value='Submit'>
                    </form>
                </div><br>
            <% end %>

            <form action='/breweries/<%=@brewery.id%>' method='post'>
                <input type='hidden' id='hidden' name='_method' value='delete'>
                <input type='hidden' name='visit[brewery_id]' value='<%=@brewery.id%>'>
                <input type='hidden' name='visit[user_id]' value='<%=@user.id%>'>
                <input class='button' type='submit' value='Remove from Passport'>
            </form>
        <% else %>
            <form action='/breweries/<%=@brewery.id%>' method='post'>
                <input type='hidden' name='visit[brewery_id]' value='<%=@brewery.id%>'>
                <input type='hidden' name='visit[user_id]' value='<%=@user.id%>'>
                <input class='button' type='submit' value='Add to Passport'>
            </form>
        <% end %>
    </section>

    <aside class='brewery-contacts'>
        <h3>Additional Info</h3>

        <a href="<%=@brewery.url%>">Brewery's Website</a><br><br>

        <address>
            <%=@brewery.street_address%><br>
            <%=@brewery.city%>, <%=@brewery.state%><br><br>
            <%=@brewery.phone%>
        </address>
    </aside>
</main>