<!DOCTYPE html>
<html>
    <head>
        <h1><%= @brewery.name %></h1>
    </head>

    <body>
        <%= @brewery.description %><br><br>
        <a href="<%=@brewery.url%>">Brewery's Website</a><br><br>
    
        <a href='/passport/<%=@user.id%>'>View Your Passport</a><br>
        <a href='/passport/<%=@user.id%>/edit'>Edit Your Passport</a><br>
        <a href='/logout'>Log Out</a>
    </body>
</html>