<nav>
    <a href='/breweries'>Breweries</a>
    <a href='/passport/<%=@user.id%>'>My Passport</a>
    <a href='/passport/<%=@user.id%>/edit'>Edit Passport</a>
    <a href='/logout'>Log Out</a>
</nav>

<main>
    <section class='list'>
        <h2><%= @brewery.name %></h2>

        <p><%= @brewery.description %></p>
    </section>

    <aside>
        <h3>Additional Info</h3>

        <a href="<%=@brewery.url%>">Brewery's Website</a>

        <address>
            <%=@brewery.street_address%>
            <%=@brewery.city%>, <%=@brewery.state%><br><br>
            <%=@brewery.phone%>
        </address>
    </aside>
</main>