<nav>
    <a href='/breweries'>Breweries</a>
    <a href='/passport/<%=@user.id%>'>My Passport</a>
    <a href='/passport/<%=@user.id%>/edit'>Edit Passport</a>
    <a href='/logout'>Log Out</a>
</nav>

<main>
    <section class='list'>
        <h2><%= @brewery.name %></h2>

        <p><%= @brewery.description %></p>

        <form action='/create-visit' method='post'>
            <input type='hidden' name='visit[brewery_id]' value='<%=@brewery.id%>'>
            <input type='hidden' name='visit[user_id]' value='<%=@user.id%>'>
            <input class='button' type='submit' value='Add to Passport'>
        </form>
    </section>

    <aside>
        <h3>Additional Info</h3>

        <a href="<%=@brewery.url%>">Brewery's Website</a>

        <address>
            <%=@brewery.street_address%>
            <%=@brewery.city%>, <%=@brewery.state%><br><br>
            <%=@brewery.phone%>
        </address>
    </aside>
</main>