<nav>
    <a href='/breweries'>Breweries</a>
    <a href='/passport/<%=@user.id%>'>My Passport</a>
    <a href='/passport/<%=@user.id%>/edit'>Edit Passport</a>
    <a href='/logout'>Log Out</a>
</nav>

<main class='brewery'>
    <section class='brewery-index'>
        <h2><%= @brewery.name %></h2>

        <p><%= @brewery.description %></p><br><br>

        <% if @user.breweries.find_by(id: @brewery.id) %>
            <form action='/breweries/<%=@brewery.id%>' method='post'>
                <input type='hidden' id='hidden' name='_method' value='delete'>
                <input type='hidden' name='visit[brewery_id]' value='<%=@brewery.id%>'>
                <input type='hidden' name='visit[user_id]' value='<%=@user.id%>'>
                <input class='button' type='submit' value='Remove from Passport'>
            </form>
        <% else %>
            <form action='/breweries/<%=@brewery.id%>' method='post'>
                <input type='hidden' name='visit[brewery_id]' value='<%=@brewery.id%>'>
                <input type='hidden' name='visit[user_id]' value='<%=@user.id%>'>
                <input class='button' type='submit' value='Add to Passport'>
            </form>
        <% end %>
    </section>

    <aside class='brewery-contacts'>
        <h3>Additional Info</h3>

        <a href="<%=@brewery.url%>">Brewery's Website</a><br><br>

        <address>
            <%=@brewery.street_address%><br>
            <%=@brewery.city%>, <%=@brewery.state%><br><br>
            <%=@brewery.phone%>
        </address>
    </aside>
</main>